<%= simple_form_for @play do |f| %>
  <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a Category") %>
  <%= f.file_field :play_img %>
  <%= f.input :title, label: 'Play title' %>
  <%= f.input :description, label: 'Story' %>
  <%= f.input :director %>
  <%= f.button :submit, :class => 'btn btn-default' %>
<% end %>