<div class="col-md-10 col-md-offset-1">
  <div class="new-play-form">
    <h1>Editing Broadway Play</h1>

    <%= simple_form_for @play, html: { multipart: true } do |f| %>
      <%= f.file_field :play_img %>
      <%= f.select :category_id, @categories %>
      <%= f.input :title, label: 'Play title' %>
      <%= f.input :description, label: 'Story' %>
      <%= f.input :director %>
      <%= f.button :submit, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div>
