!!!
%html
%head
  %title TaskRabbit
  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %nav.navbar.navbar-default
    .container
      .navbar-brand= link_to 'TaskRabbit', root_path
      %ul.nav.navbar-nav
        %li= link_to 'All Tasks', root_path
        - Category.all.each do |category|
          %li= link_to category.name, tasks_path(category: category.name)

      = link_to 'New Task', new_task_path, class: 'navbar-text navbar-right navbar-link'

  .container
    .col-md-8.col-offset-2
      = yield
