!!! 5
%html
%head
  %title Instagramm
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %link{:rel => :stylesheet, :type => :"text/css", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css"}
  = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags
  = csp_meta_tag


%body
  %nav.navbar.navbar-inverse
    .container
      .navbar-brand= link_to 'Instagramm', root_path

      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-left
          %li= link_to 'Gram It!', new_pic_path
          %li= link_to 'Settings', edit_user_registration_path
          %li= link_to 'Sign Out', destroy_user_session_path, method: :delete

      - else
        %ul.nav.navbar-nav.navbar-left
          %li= link_to 'Join', new_user_registration_path
          %li= link_to 'Log_in', new_user_session_path

  .container
    -flash.each do |name, msg|
      =content_tag :div, msg, class: "alert alert-info"

    = yield
