/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $light: rgba(100, 150, 250, .75);
 $dark: #eeefef;

 * {
   box-sizing: border-box;
 }
 html {
   height: 100%;
 }

 body {
   height: 100%;
   background: #eeeeff;
   font-family: 'Merriweather', serif;
 }

 .clearfix:before,
 .clearfix:after {
   content: " ";
   display: table;
 }

 .clearfix:after {
   clear: both;
 }

 #notice {
   text-align: center;
   font-size: 0.7em;
   color: $dark;
   font-weight: 100;
 }

 .container {
   width: 200%;
   max-width: 1200px;
   background: $light;
   margin: 3em auto 0 auto;
   border-radius: 0px;
   -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
   box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
   padding: 1em 0;
 }

 // PROJECTS STYLING


 .todo_list_title {
   text-align: center;
   font-weight: 700;
   font-size: 2.5rem;
   text-transform: uppercase;
   color: white;
   margin: 0;
   a {
     text-decoration: none;
     color: white;
     transition: all .4s ease-in-out;
     &:hover {
       opacity: 0.4;
     }
   }
 }

 .todo_list_sub_title {
   margin: 5 0 0 0;
   text-align: center;
   font-size: 1.2em;
   color: $dark;
   font-weight: 100;
 }

 .index_row {
   padding: 2em;
   border-bottom: 1px solid rgba(250,250,250, .3);
   .todo_list_sub_title {
     margin-bottom: 0;
   }
 }

 // TASKS STYLING

 #todo_items_wrapper {
   .row {
     width: 100%;
     border-top: 1px solid rgba(250,250,250, .3);
     border-bottom: 1px solid rgba(250,250,250, .3);
     .complete {
       width: 10%;
       float: left;
       text-align: center;
       border-right: 1px solid rgba(250,250,250, .3);
       padding: 1em 0;
     }
     .todo_item {
       width: 80%;
       float: left;
       p {
         margin: 0;
         padding: 1em;
         color: $dark;
         font-weight: 100;
       }
     }
     .trash {
       width: 10%;
       float: left;
       text-align: center;
       border-left: 1px solid rgba(250,250,250, .3);
       padding: 1em 0;
     }
     i {
       color: white;
       transition: all .4s ease-in-out;
       &:hover {
         color: $dark;
       }
     }
   }
   #form {
     margin-top: 2em;
     padding: 0 5%;
     input[type="text"] {
       width: 72%;
       margin-right: 2%;
       display: inline-block;
       outline: none;
       background: rgba(250,250,250,.4);
       border: none;
       height: 40px;
       border-radius: 4px;
       padding: 1em 2em;
     }
     input[type="submit"] {
       background: rgba(250,250,250,.4);
       outline: none;
       border: none;
       height: 40px;
       border-radius: 4px;
       width: 25%;
       display: inline-block;
       transition: all .4s ease-in-out;
       cursor: pointer;
       &:hover {
         background: #1a1a1a;
       }
     }
     ::-webkit-input-placeholder { color: #1a1a1a; }
   }
 }

 .links {
   display: block;
   margin: 1.5em auto 0 auto;
   text-align: center;
   font-size: 0.8em;
   color: white;
   a {
     color: white;
   }
 }

 .forms {
   padding: 0 5%;
 }
 label {
   color: $dark;
 }
 input[type="text"], textarea {
   width: 100%;
   margin: .5em 2% 1em 0;
   display: inline-block;
   outline: none;
   background: rgba(250,250,250,.4);
   border: none;
   height: 40px;
   border-radius: 4px;
   padding: 1em 2em;
 }
 textarea {
   height: 200px;
 }
 input[type="submit"] {
   background: white;
   outline: none;
   border: none;
   height: 40px;
   border-radius: 4px;
   width: 25%;
   display: inline-block;
   transition: all .4s ease-in-out;
   cursor: pointer;
   color: #1a1a1a;
   &:hover {
     background: #1a1a1a;
     color: white;
   }
 }
 ::-webkit-input-placeholder { color: $dark; }